@model VideoGames.Domain.GameGenre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameGenreViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
@foreach (var item in Model.VideoGame_Genres)
{
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => item.VideoGame.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.VideoGame.Title)
        </dd>
    </dl>
}
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
